.drb_quadro {
    width: 100%;
}

.drb_inativo {
    display: none;
}

.drb_imagem {
    width: 100%;
    height: 30vh;
    max-height: 200px;
    border-radius: 5px;
    border: 2px solid rgb(0, 105, 62);
}

.drb_link {
  cursor:pointer;
}

.image-carousel img {
    height: 30vh;
  }

.small-carousel {
    width: 400px;
}

.small-carousel img {
    height: 30vh;
}

.image-text-carousel {
    width: 100%;
}

.image-text-carousel img {
    height: 30vh;
    width: 100%;
    display: block;
}

.text-beside-image-carousel {
    width: 100%;
}

.text-beside-image-carousel img {
    height: 30vh;
    width: 40%;
    float: left;
    margin-right: 10px;
}

.text-beside-image-carousel>div:after {
    display: block;
    content: '';
    clear: both;
}

  .carousel-beside-text {
    float: left;
    width: 400px;
    margin-right: 10px;
  }

  .carousel-beside-text img {
    height: 30vh;
  }

  .carousel-beside-text-container:after {
    content: '';
    display: block;
    clear: both;
  }
