.drw_quadro_externo_ppgdpp {
    border-radius: 5px;
    border: 2px solid #ffffff;
    position: relative;
    overflow: hidden;
    text-align: center;
    width:auto;
    height: 30vh;
    max-height: 30vh;
    min-height: 30vh;}

.drw_quadro_externo_ppgdpp a {
    text-decoration: none;
    color:rgb(08, 08, 07);
}

.drw_quadro_ppgdpp{
    display: inline-block;
    background-image:url(images/fundo_ppgdpp.png);
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.drw_texto_quadro_ppgdpp{
    text-align: center;
    color:rgb(08, 08, 07);
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-right: 5px;
    height: 30px;
}
