.bread_crumb_envolv {
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #fafafa;
}

.bread_crumb {
  font-size: 18px;
  list-style: none;
}

.bs_link {
  float: left;
  margin-right: 10px;
  color:rgb(0,105,62);
}

.bs_nao_link {
  float: left;
  margin-right: 10px;
  color:rgb(0,105,62);
}

.bs_separador {
  float: left;
  margin-right: 10px;
  color: #000000;
}

.bs_link a {
  color:rgb(0,105,62);
}

.bread_crumb ::after{
  clear: both;
} 

@media(max-width:767px){

  .bread_crumb {
    display: block;
  }

  .bs_separador {
    display: none;
  }

  .bs_link {
    font-size: 18px;
    display: block;
    text-align: center;
    float: unset;
  }
  
  .bs_nao_link {
    font-size: 14px;
    display: block;
    text-align: center;
    float: unset;
  }

}
